@use "@material/theme" with (
  $primary: #d40000,
  $secondary: #f44336,
  $background: #f49d9d,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";


@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
  @include icon-button.core-styles;
}

section {
  text-align: center;
}

.content {
  margin: 10rem auto;
  padding-bottom: 20rem;
  text-align: center;
}

.sample-content--hidden {
  display: none;
}

.mdc-tab {
    background-color: #e4b3ac;
}

.mdc-tab__content .mdc-tab__text-label {
    color: black;
}

.my-card__media {
  background-image: url("https://lh3.googleusercontent.com/dhb4Gl6j-zpYpJqZ32JDR_0FiS2GopZ0oC9-jECVw4voQknbRKwUVLAWSANXmVq-KP2t2QVmO-KAsUaRy1sRGi0=w600");
  color:#ffffff;
}

.my-card__mediatwo {
  background-image: url("https://lh3.googleusercontent.com/6oZ6b-2B1Bya9sxScvo870u_HR5B8Rh8oYmuwT5pkEnInOomqkoLDBMGuCF0YLXdzKQcpMa4jI5BYSw0iWcOkqPDLiVxHVHpcSwFBQ=s200");
  color:#ffffff;
}

.mdc-card-content {
  //padding: 16px;
  text-align: center;
}

.mdc-card {
  height: 350px;
  width: 350px;
  text-align: center;
  float: inline-start;
}

.mdc-text-field {
    margin: 1rem auto;
}

.button {
  margin-top: 1rem;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #67daff;
}

